
{{#if selectChatName}}
  <div class="chatWindow">
    <header class="chatHeader">
      <div class="chatAvatar"></div>
      <span class="chatName">{{selectChatName}}</span>
      <button class="chatOptions">
        <img src="../../static/advance.svg" alt="options">
      </button>
    </header>
    <section class="chatContent">
      {{> 'chatContent/chatContent'
        chatDate="08.12"
        myMessage=true
        MessageText="Привет, зацени какой част собрал за неделю."
        MessageTime="19.57"
      }}
      {{> 'chatContent/chatContent'
        chatDate=undefined
        myMessage=false
        MessageText="Прикольно, это твой курс на яндексе? И как в целом курс?"
        MessageTime="19.58"
      }}
      {{> 'chatContent/chatContent'
        chatDate=undefined
        myMessage=true
        MessageText="На самом деле курс очень жесткий, мне пришлось работать над проектом каждый день по 12 часов, чтобы успеть к сроку. Это мне еще повезло что я пока безработный, но скоро выходить на работу и я не знаю как все успеть."
        MessageTime="20.01"
      }}
      {{> 'chatContent/chatContent'
        chatDate=undefined
        myMessage=false
        MessageText="Блин, сочувствую. Но надеюсь ты справишься. И удачи на ревью ;)"
        MessageTime="20.03"
      }}
      {{> 'chatContent/chatContent'
        chatDate=undefined
        myMessage=true
        MessageText="К черту :)))))"
        MessageTime="20.04"
      }}
    </section>
    <form class="chatFooter">
      {{> 'input/input'
        inputClass="inputMessage"
        only=true
        name="message"
        placeholder="Сообщение"
        disabled=""
      }}
      <button class="inputMessageSend">
        <img src="../../static/arrow.svg" alt="send">
      </button>
    </form>
  </div>
{{else}}
  <div class="notSelectChat">Выберите чат чтобы отправить сообщение</div>
{{/if}}
