@import '../../styles/mixsins.scss';

.chatWindow {
  @include allSpace();
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.chatHeader {
  @extend .chatWindow;
  flex-direction: row;
  height: 61px;
  min-height: 61px;
  background: $pink-wite;
  box-shadow: 0px 1px 0px $wite-grey;
  margin-left: 1px;
}
.chatAvatar {
  @include avatar(47px);
  margin: 7px;
  margin-left: 28px;
  margin-right: 10px;
}
.chatName {
  display: block;
  @include text(13px, 600, $main-black);
  margin-top: 8px;
  height: 13px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatOptions {
  display: block;
  min-width: 11px;
  min-height: 27px;
  margin: 17px;
  opacity: 0.63;
  &:hover {
    opacity: 1;
  }
}

.chatContent {
  @extend .chatWindow;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 1px;
  padding-left: 29px;
  padding-right: 29px;
}

.chatFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  min-height: 55px;
  height: 55px;
  margin-left: 1px;
  background: $pink-wite;
  box-shadow: 0px -1px 0px $wite-grey;
}


.chatSend {
  max-height: 28px;
  min-height: 28px;
  max-width: 28px;
  min-width: 28px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 20px;
  & img {
    transform: scale(-1, 1);
    height: 28px;
    width: 28px;
  }
}


.notSelectChat {
  @include allSpace();
  @include flexCentr();
  text-align: center;
  @include text(12px, 500, $grey);
}
