@import '../../styles/mixsins.scss';

.button {
  width: 280px;
  height: 37px;
  background: $pink-ligth;
  border-radius: 8px;
  @include text(13px, 500, $wite);
  &:disabled {
    background: $pink-grey;
  }
  &Sigin {
    @extend .button;
    margin-top: 86px;
    margin-bottom: 14px;
  }
  &Registr {
    @extend .button;
    margin-top: 13px;
    margin-bottom: 14px;
  }
  &Create {
    @extend .button;
    width: 70px;
    height: 16px;
    @include text(10px, 500, $wite);
  }
  &Profile {
    width: 65px;
    height: 12px;
    text-align: right;
    @include text(12px, 500, $grey);
  }
  &ProfileField {
    height: 41px;
    width: 25px;
    text-align: center;
    margin-left: 6px;
    opacity: 40%;
    filter: grayscale(100%);
    &:hover {
      opacity: 100%;
      filter: grayscale(0%);
    }
  }
  &ProfileBlue {
    @include text(13px, 500, $blue);
    margin-top: 14px;
    margin-bottom: 24px;
  }
  &ProfileRed {
    @include text(13px, 500, $red);
  }
}
