
$pink-grey: #948693;
$pink: #f00ce7;
$pink-opaciti: #e81bd3b3;
$pink-01: #ff00a81a;
$pink-swite: #fff7fc;
$pink-wite: #ffe3fe;
$pink-wite-grey: #f2d1f1;
$pink-06: #ee5ce8a1;
$pink-ssligth: #ffd8fe;
$pink-sligth: #ffb6fc;
$pink-ligth: #e054db;
$main-black: #1E1E1E;
$black04: #00000066;
$black03: #00000033;
$grey: #999999;
$wite-grey: #eaeaea;
$wite-pink: #ffe3fe;
$wite: #f8f8f8;
$blue: #3369f3;
$red: #ff0000;
$red-wite: #ff2f2f;
