<main class="mainCentr">
  <form class="formSigin">
    <h1 class="formTitleSigin">Вход</h1>
    {{!-- \{{{> 'input/input' 
      name="login" 
      title="Логин" 
      placeholder="Логин" 
    }}}
    \{{{> 'input/input' 
      name="password" 
      title="Пароль" 
      placeholder="Пароль"
      inputClass="inputInvalid" 
      valid="" 
    }}} --}}
    \{{{Button 
      disabled=disabledBtn
      text=textBtn
      className=classBtn
    }}}
    <a class="link" href="">Нет аккаунта?</a>
  </form>
</main>
