
{{!< main}}

<main class="mainCentr">
  <div class="error">
    <h1 class="errorNumber">500</h1>
    <h2 class="errorMessage">Мы уже фиксим</h2>
    <a class="link" href="chats.hbs">Назад к чатам</a>
  </div>
</main>
