---
disabled: 'disabled'
chatName: "Имя чата"
userMessage: ""
message: "Текст последнего сообщения"
dateMessage: "07.12"
count: 0
chatActiv: ""
selectChatName: "Имя чата"
---
{{!< main}}

<main class="main">
  <nav class="chatNav">
    <head class="chatNavHeader">
      <div class="chatNavHeaderBtn">
        {{> 'button/button'
          buttonClass='buttonCreate'
          disabled=''
          buttonText='+Новый чат'
        }}
        {{> 'button/button'
          buttonClass='buttonProfile'
          buttonText='Профиль >'
        }}
      </div>
      <div class="chatNavHeaderSearch">
        <img src="../../static/search.svg" alt="Search">
        {{> 'input/input' 
          name="search" 
          inputClass="inputSearch"
          placeholder="Поиск" 
          only=true
          disabled=''
        }}
      </div>
    </head>
    <div class="chatNavHeaderList">
      {{> 'chatCard/chatCard'
        count=10
      }}
      {{> 'chatCard/chatCard'
        count=5
        userMessage="Вы:"
      }}
      {{> 'chatCard/chatCard'
        chatActiv="Activ"
      }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
      {{> 'chatCard/chatCard' }}
    </div>
  </nav>
  {{> 'chat/chat' }}
</main>
