
<ul>
  <li><a href="sigin.hbs">Вход</a></li>
  <li><a href="registr.hbs">Регистрация</a></li>
  <li><a href="profile.hbs">Профиль</a></li>
  <li><a href="chats.hbs">Чат</a></li>
  <li><a href="404.hbs">404</a></li>
  <li><a href="500.hbs">500</a></li>
</ul>