<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.scss">
    <title>Мой чат</title>
  </head>
  <body class="body">
    {{{body}}}
  </body>
</html>
